/* #region BASIC*/
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
body {
	font-family: 'Roboto',sans-serif;
	user-select: none;
	position: relative;
	background-color: #3d352e;
	color: white;
	box-sizing: border-box;

	--cell-size: 30px;
	--rail-height: 0;
	--timeline-ppt: 0;
	--timeline-ppb: 0;
	--track-width: 100px;
	--piano-roll-ppk: 0;
	--key-width: 50px;
}

.hidden {
	display: none !important;
}
/* #endregion */

/* #region INPUT*/
input {
	font: inherit;
	border: none;
	color: inherit;
	background-color: inherit;
}
input:focus {
	outline: none;
}
input.shy {
	background: none;
}
/* #endregion */

/* #region STRETCHING*/
.stretch {
	width: 10px;
	position: absolute;
	height: 100%;
	top: 0;
}
.stretch:hover {
	background-color: #fff5;
}
.stretch.dragged {
	background-color: #fffa;
}
.stretch.left {
	cursor: w-resize;
	left: 0;
}
.stretch.right {
	cursor: e-resize;
	right: 0;
}
/* #endregion */

/* #region BEAT GRID*/
#grid {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

#grid td,th {
	border: 1px solid #444;
	min-width: var(--cell-size);
	width: var(--cell-size);
	min-height: var(--cell-size);
	height: var(--cell-size);
	box-sizing: border-box;
	background-color: white;
	transition: 0.15s;
}
#grid td:hover {
	background-color: #ccc;
}
#grid td.filled {
	background-color: #444;
}
/* #endregion */

/* #region SCROLL WINDOWS*/
.scroll-window {
	display: flex;
	flex-direction: column;
	color: white;
	overflow: hidden;
	position: relative;
}

.scroll-window > .bottom {
	display: flex;
	flex-direction: row;
	position: relative;
	overflow: hidden;
	height: 100%;
}

.scroll-window canvas {
	position: absolute;
	top: calc(-1 * var(--rail-height));
}

canvas#foreground {
	z-index: 1;
	pointer-events: none;
}

.scroll-window > .top > .top-left {
	top: 0;
	left: 0;
	height: var(--rail-height);
	z-index: 1;
	background-color: hsl(0, 0%, 25%);
	text-align: center;
}

.scroll-window > .bottom > .left {
	box-sizing: border-box;
	position: relative;
}

.scroll-window > .bottom > .right {
	width: 100%;
	position: relative;
	overflow: scroll;
}

	/* #region RAIL*/
.scroll-window > .top {
	width: 100%;
	min-height: var(--rail-height);
	position: relative;
}

.scroll-window > .top * {
	position: absolute;
}

.rail {
	width: 100%;
	height: var(--rail-height);
	background-color: hsla(0, 0%, 35%, 0.3);
}

.handle {
	left: -10px;
	width: 20px;
	height: var(--rail-height);
	border-radius: 5px;
	border: 2px solid white;
	box-sizing: border-box;
}
.handle:hover,.handle.dragged {
	background-color: gray;
	cursor: pointer;
}
	/* #endregion */
/* #endregion */

/* #region TIMELINE*/
	/* #region BASIC*/
#timeline {
	background-color: #333;
}

#timeline .top .top-left {
	width: var(--track-width);
}

#timeline .rail {
	left: var(--track-width);
}
	/* #endregion */
	
	/* #region TRACKS*/
#timeline #tracks {
	width: var(--track-width);
	min-width: var(--track-width);
}

#timeline .track {
	height: var(--timeline-ppt);
	background-color: #666;
	display: grid;
	border-top: 1px solid #777;
}
#timeline .track,#timeline .top-left {
	border-right: 2px solid #ccc;
	box-sizing: border-box;
}
#timeline .track span {
	padding: 0 2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
	/* #endregion */
	
	/* #region PATTERNS*/
#timeline .pattern {
	--hue: 24;
	width: 180px;
	height: var(--timeline-ppt);
	background-color: hsla(var(--hue), 100%, 76%, 0.6);
	display: inline-block;
	cursor: pointer;
	position: absolute;
	border-right: 1px dotted white;
	box-sizing: border-box;
}
#timeline .pattern:hover, #timeline .pattern.dragged {
	background-color: hsla(var(--hue), 100%, 80%, 0.6);
}
#timeline .pattern.selected {
	background-color: hsla(calc(var(--hue) + 20), 100%, 80%, 0.6);
}
#timeline .pattern input {
	padding: 0 2px;
	box-sizing: border-box;
	background-color: #0004;
	cursor: text;
	width: 100%;
	text-overflow: clip;
	overflow: hidden;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
}
#timeline .pattern canvas {
	position: static;
}
	/* #endregion */
/* #endregion */

/* #region WINDOWS*/
#windows {
	position: absolute;
}

div.window {
	position: absolute;
	padding: 5px;
	padding-top: 0;
	background-color: hsl(0, 0%, 20%);
	box-shadow: 0 0 20px #000a;
	width: 600px;
	height: 300px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
div.window.focused {
	outline: 2px solid #8fa;
}

div.topbar {
	font-size: 14px;
	display: flex;
}
/* #endregion */

/* #region GENERATORS*/
div.generator {
	border: 1px solid white;
	padding: 5px;
	width: 200px;
	height: 200px;
	box-sizing: border-box;
}

button.reload {
	margin-left: auto;
	padding: 0 5px;
}
/* #endregion */

/* #region PIANO ROLL*/
	/* #region BASIC*/
#pianoRoll {
	background-color: #727272;
}

#pianoRoll .top .top-left {
	width: var(--key-width);
}

#pianoRoll .rail {
	left: var(--key-width);
}
	/* #endregion */

	/* #region KEYS*/
.piano-keys {
	min-width: var(--key-width);
	width: var(--key-width);
	display: flex;
	flex-direction: column;
}

.piano-keys > * {
	text-shadow: 0 0 5px #000a;
	padding: 0 5px;
	box-sizing: border-box;
}

.piano-keys > *, .note {
	height: 100px;
	max-height: var(--piano-roll-ppk);
	line-height: var(--piano-roll-ppk);
}

.piano-keys > .white {
	background-color: #aaa;
}

.piano-keys > .black {
	background-color: #444;
}

.piano-keys > .split-bottom {
	border-bottom: 1px solid #0005;
}
	/* #endregion */

	/* #region NOTES*/
.note {
	background-color: #ff4242aa;
	width: 100px;
	position: absolute;
}
	/* #endregion */
/* #endregion */