@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	--cell-size: 30px;
	--timeline-ppt: 0;
	--timeline-ppb: 0;
	user-select: none;
}

#output {
	padding: 20px;
	text-align: center;
}

#grid {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

td, th {
	border: 1px solid #444;
	min-width: var(--cell-size);
	width: var(--cell-size);
	min-height: var(--cell-size);
	height: var(--cell-size);
	box-sizing: border-box;
	background-color: white;
	transition: 0.15s;
}

td:hover {
	background-color: #ccc;
}

td.filled {
	background-color: #444;
}

#timeline {
	background-color: #333;
	display: flex;
	flex-direction: row;
	color: white;
	margin: 5px;
}

#timeline #tracks {
	width: 100px;
	min-width: 100px;
	height: 240px;
	border-right: 2px solid #ccc;
	box-sizing: border-box;
}

#timeline .track {
	height: var(--timeline-ppt);
	background-color: #666;
	box-sizing: border-box;
	display: grid;
}

#timeline .track span {
	padding: 0 2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#timeline #patterns {
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
	position: relative;
}

#timeline .pattern {
	--hue: 24;
	width: 180px;
	height: var(--timeline-ppt);
	background-color: hsla(var(--hue), 100%, 76%, 0.6);
	display: inline-block;
	cursor: pointer;
	position: absolute;
	border-right: 1px dotted white;
	box-sizing: border-box;
}

#timeline .pattern:hover, #timeline .pattern.dragged {
	background-color: hsla(var(--hue), 100%, 80%, 0.6);
}

#timeline .pattern input {
	padding: 0 2px;
	box-sizing: border-box;
	background-color: #0004;
	cursor: text;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
}

.stretch {
	width: 10px;
	position: absolute;
	height: 100%;
	top: 0;
}

.stretch:hover {
	background-color: #fff5;
}

.stretch.dragged {
	background-color: #fffa;
}

.stretch.left {
	cursor: w-resize;
	left: 0;
}

.stretch.right {
	cursor: e-resize;
	right: 0;
}

input {
	font: inherit;
	border: none;
	color: inherit;
	background-color: inherit;
}

input:focus {
	outline: none;
}

input.shy {
	background: none;
}

#timeline canvas {
	position: absolute;
	pointer-events: none;
}

#timeline #foreground {
	z-index: 10;
}